{% set body_class = "products-page" %}
{% extends "base.html" %}
{% block title %}Instrumenti - MūzikasPasaule{% endblock %}
{% block content %}


<div class="content-card">
    <h2>Instrumenti</h2>
    <form method="get" class="filter-form">
        <label for="type">Tips:</label>
        <select name="type" id="type">
            <option value="">Visi</option>
            {% for type in types %}
                <!-- Atlasītais tips paliek izvēlēts pēc iesniegšanas -->
                <option value="{{ type.name }}" {% if type.name == selected_type %}selected{% endif %}>{{ type.name }}</option>
            {% endfor %}
        </select>
    
        <label for="max_price">Cena līdz (€):</label>
        <input type="number" name="max_price" id="max_price" value="{{ max_price if max_price is not none else '' }}">
    
        <button type="submit">Filtrēt</button>
    </form>
    
    <div class="products-list">
        {% for product in products %}
        <a class="products-item" href="{{ url_for('products_show', product_id=product.id) }}">
            <img src="{{ url_for('static', filename='images/products/' ~ product['image']) }}" alt="{{ product['name'] }}">
            
            <div class="product-name" style="font-size: 20px; font-weight: bold;">
                {{ product["name"] }}
            </div>
            
            <div class="product-price">
                Cena: {{ "%.0f"|format(product["price"]) if product["price"] % 1 == 0 else "%.2f"|format(product["price"]) }} €
            </div>
            
            <div class="product-brand">Zīmols: {{ product["brand"] }}</div>
            
        </a>
        {% endfor %}
    </div>
    <a href="{{ url_for('add_instrument') }}" class="btn">➕ Pievienot instrumentu</a>
    
</div>

{% endblock %}
